<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-6 col-md-4 text-start order-1 order-md-1">
                {% if session_active == False %}
                <a class="btn btn-primary" type="button" href="{{ url_for('host_quiz', quiz_id=quiz[0]) }}" style="margin-top: 25px; margin-bottom: 25px;"><i
                        class="fa-solid fa-gamepad"></i> Quiz hosten</a>
                {% else %}
                <a class="btn btn-primary" type="button" href="{{ url_for('host_quiz', quiz_id=quiz[0]) }}" style="margin-top: 25px; margin-bottom: 25px;"><i
                        class="fa-solid fa-gamepad"></i> Aktive Session</a>
                {% endif %}
            </div>
            <div class="col-12 col-md-4 order-3 order-md-2 pt-0 pt-md-4">
                <h1 style="padding-top: 0px;">{{ quiz[1] }}</h1>
            </div>
            <div class="col-6 col-md-4 text-end order-2 order-md-3">
                <a class="btn btn-primary" type="button" href="{{ url_for('edit_quiz', quiz_id=quiz[0]) }}"
                    style="margin-top: 25px; margin-bottom: 25px;"><i class="fa-regular fa-pen-to-square"></i> Quiz
                    bearbeiten</a>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionQuiz">
            {% for question in questions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed d-block text-center" type="button"
                        data-bs-toggle="collapse" data-bs-target="#Q{{ question[1] }}" aria-expanded="false"
                        aria-controls="Q{{ question[1] }}">
                        <strong>Frage {{ question[1] }}</strong>
                    </button>
                </h2>
                <div id="Q{{ question[1] }}" class="accordion-collapse collapse" data-bs-parent="#accordionQuiz">
                    <div class="accordion-body">
                        <div class="row row-cols-2 row-cols-md-4 justify-content-center">
                            <div class="col col-md-3 category-mobile">
                                <p class="with-border"><span class="fw-bold">Kategorie</span><br> {{ question[3] }}</p>
                            </div>
                            <div class="col col-md-3 category-mobile">
                                <p class="with-border"><span class="fw-bold">Punkte</span><br> {{ question[7] }}</p>
                            </div>
                        </div>
                        <p class="fs-5 with-line"><span class="fw-bold fs-5">Frage</span><br> {{
                            question[2]|replace('\n', '<br>')|safe }}</p>
                        {% if question[4] != "" %}
                        <p class="fs-5 with-line"><span class="fw-bold">Beschreibung</span><br> {{
                            question[4]|replace('\n', '<br>')|safe }}</p>
                        {% endif %}
                        {% if question[5] != None %}
                        <p class="fs-5 with-line"><span class="fw-bold fs-5">Bild</span><br>
                            <img class="img-fluid" style="max-width: 60%; margin-top: 12px;"
                                src="../static/FileUploads/{{ question[5] }}"></img>
                        </p>
                        {% endif %}
                        <p class="fs-5"><span class="fw-bold fs-5">Antwort</span><br> {{ question[6]|replace('\n',
                            '<br>')|safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 18px;">
            <form action="/delete_quiz" method="POST"
                onsubmit="return confirm('Sind Sie sicher, dass Sie dieses Quiz löschen möchten?');">
                <input type="hidden" name="quiz_id" value="{{ quiz[0] }}">
                <button type="submit" class="btn btn-outline-danger">Quiz löschen</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    {% include 'footer.html' %}
</body>

</html>