body {
    /* font-family: Arial, sans-serif; */
    text-align: center;
    /* margin: 0;
    padding: 0; */
    background-color: #ccccfd;
}

h1 {
    color: rgb(52, 0, 130);
    padding-top: 25px;
    padding-bottom: 25px;
}

h3 {
    color: rgb(52, 0, 130);
    padding-bottom: 15px;
}

h4 {
    color: rgb(52, 0, 130);
    padding-bottom: 10px;
}

h5 {
    color: rgb(52, 0, 130);
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

.navbar-expand-lg {
    background-color: rgb(52, 0, 130) !important;
}

.btn-primary:hover {
    background-color: rgb(52, 0, 130);
    border-color: #ccccfd;
    font-weight: 500;
}

.btn-primary {
    background-color: #ccccfd;
    border-color: rgb(52, 0, 130);
    border-width: 2px;
    color: rgb(52, 0, 130);
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #ccccfd;
    border-color: rgb(111, 51, 201);
    color: rgb(111, 51, 201);
    font-weight: 500;
}

.btn-secondary {
    background-color: rgb(111, 51, 201);
    border-color: rgb(111, 51, 201);
    font-weight: 500;
    border-width: 2px;
}

.btn-session {
    background-color: rgb(52, 0, 130);
    border-color: rgb(52, 0, 130);
    font-weight: 500;
    color: aliceblue;
    border-width: 2px;
}

.btn-session:hover {
    background-color: #ccccfd;
    border-color: rgb(52, 0, 130);
    border-width: 2px;
    color: rgb(52, 0, 130);
    font-weight: 500;
}

.btn-add {
    width: 250px;
    height: 50px;
    border: 2px solid rgb(52, 0, 130);
    border-top: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(52, 0, 130);
    background-color: rgba(52, 0, 130, 0.402);
    text-align: center;
    padding: 10px;
}

.btn-add:hover {
    background-color: rgb(52, 0, 130);
    color: aliceblue;
}

.icon-bright {
    color: aliceblue;
}

.accordion-button {
    color: rgb(52, 0, 130);
    background-color: aliceblue;
}

.accordion-button:hover {
    background-color: rgb(52, 0, 130);
    color: aliceblue;
}

.accordion-button:focus {
    background-color: rgba(128, 44, 255, 0.436);
    color: aliceblue;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(128, 44, 255, 0.436);
    color: aliceblue;
    box-shadow: none;
}

.accordion-item {
    color: aliceblue;
    background-color: #340082;
}

.with-border {
    border-style: solid; 
    border-color: aliceblue; 
    border-width: 1px;
    padding: 8px;
    border-radius: 8px;
}

.with-line {
    border-bottom-style: solid; 
    border-color: aliceblue; 
    border-width: 1px;
    padding-bottom: 16px;
}

.with-background {
    background-color: rgba(52, 0, 130, 0.244);
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    /* padding-top: 8px; */
}

.question-number {
    background-color: rgba(128, 44, 255, 0.436);
    color: aliceblue;
}

.question-number:hover {
    background-color: rgba(128, 44, 255, 0.436);
    color: aliceblue;
}

.card {
    height: 100%;
}

a.card {
    text-decoration: none;
    color: rgb(52, 0, 130);
    background-color: aliceblue;
}

a.card:hover {
    background-color: rgb(52, 0, 130);
    color: aliceblue;
}

a.card:hover h6 {
    color: rgba(240, 248, 255, 0.694) !important;
}

.list-group-item {
    background-color: aliceblue;
}

.spinner-border {
    color: rgb(52, 0, 130);
}