<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <h1>Neues Quiz erstellen</h1>

    <div class="container text-start">
        <div id="alert_placeholder" class="text-center"></div>
        <form action="{{ url_for('createquiz') }}" method="POST" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="mb-3">
                        <label class="form-label">Quiz-Titel</label>
                        <input class="form-control" type="text" name="title" required></input>
                    </div>

                    <!-- Counter-Anzeige für die Anzahl der Fragen -->
                    <div class="text-center">
                        <div class="fw-bold mb-3">Anzahl Fragen: <span id="question-counter">1</span></div>

                        <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal"
                            data-bs-target="#generateQuestionsModal"><i class="fa-solid fa-wand-magic-sparkles"></i>
                            Fragen generieren lassen</button>

                    </div>
                </div>
            </div>
            <!-- Hinzufügen der Fragen -->
            <div id="questions">
                <div class="question" id="question-0">
                    <div class="row justify-content-center with-background"
                        style="padding-top: 12px; margin-top: 12px;">
                        <div class="col-2 position-relative">
                            <div class="position-absolute top-0 start-0"><button class="btn btn-primary"
                                    id="move-up-btn-0" type="button" style="margin-left: 12px;"
                                    onclick="moveQuestionUp(0)" disabled><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <div class="position-absolute bottom-0 start-0"><button class="btn btn-primary"
                                    id="move-down-btn-0" type="button" style="margin-left: 12px; margin-bottom: 12px;"
                                    onclick="moveQuestionDown(0)" disabled><i
                                        class="fa-solid fa-arrow-down"></i></button></div>
                        </div>
                        <div class="col-8">

                            <div class="mb-3">
                                <label name="inputQuestion" class="form-label">Frage 1</label>
                                <textarea class="form-control" type="text" rows="2" name="questions[0][question]"
                                    required></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Kategorie</label>
                                <select class="form-select" name="questions[0][category]" required>
                                    <option selected>Allgemeinwissen</option>
                                    <option>Essen und Trinken</option>
                                    <option>Geschichte</option>
                                    <option>Geografie</option>
                                    <option>Kunst</option>
                                    <option>Literatur</option>
                                    <option>Musik</option>
                                    <option>Naturwissenschaften</option>
                                    <option>Politik</option>
                                    <option>Sport</option>
                                    <option>Technik</option>
                                    <option>Tiere</option>
                                    <option>Unterhaltung</option>
                                    <option>Weltkulturen</option>
                                    <option>Wirtschaft</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Beschreibung</label>
                                <textarea class="form-control" type="text" rows="2"
                                    name="questions[0][description]"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Bild</label>
                                <input class="form-control" type="file" name="questions[0][image]"></input>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Antwort</label>
                                <textarea class="form-control" type="text" rows="2" name="questions[0][answer]"
                                    required></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Punkte</label>
                                <input class="form-control" type="number" name="questions[0][points]" value="1" min="0"
                                    max="5" step="0.5" required></input>
                            </div>


                        </div>
                        <div class="col-2 text-end">
                            <button class="btn btn-primary" id="delete-question-btn-0" type="button"
                                onclick="deleteQuestion(0)" disabled><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button zum Hinzufügen weiterer Fragen -->
            <div class="d-flex col-12 justify-content-center">
                <div class="btn-add" type="button" onclick="addQuestion()">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 18px;">
                <button class="btn btn-success" type="submit">Quiz erstellen</button>
            </div>
        </form>

        <!-- Modal zum Generieren von Fragen -->
        <div class="modal fade" id="generateQuestionsModal" tabindex="-1" aria-labelledby="generateQuestionsModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 pt-0 pb-0" id="generateQuestionsModalLabel">Fragen
                            mittels KI generieren lassen</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="generateQuestionsForm">
                            <div class="with-line">
                                <label for="numberOfQuestions" class="form-label fw-bold">Anzahl
                                    Fragen</label>
                                <input type="range" class="form-range custom-slider" id="numberOfQuestions"
                                    name="numberOfQuestions" value="10" min="1" max="19"
                                    oninput="this.nextElementSibling.value = this.value" required>
                                <output>10</output>
                            </div>
                            <div class="with-line pt-3">
                                <label for="difficulty" class="form-label fw-bold">Schwierigkeit</label>
                                <select class="form-select" id="difficulty" name="difficulty">
                                    <option value="geringe">Gering</option>
                                    <option value="mittlere" selected>Mittel</option>
                                    <option value="hohe">Hoch</option>
                                </select>
                            </div>
                            <div class="pt-3 with-line">
                                <label class="form-label fw-bold" data-bs-toggle="tooltip"
                                    title="Die Kategorien werden zufällig aus den unten ausgewählten Kategorien gewählt.">Kategorien</label>
                                <div>
                                    <input type="checkbox" class="btn-check" id="btn-check-allgemeinwissen"
                                        name="btn-check-allgemeinwissen" value="Allgemeinwissen" checked
                                        autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-allgemeinwissen">Allgemeinwissen</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-essen-und-trinken"
                                        name="btn-check-essen-und-trinken" value="Essen und Trinken" checked
                                        autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-essen-und-trinken">Essen und
                                        Trinken</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-geschichte"
                                        name="btn-check-geschichte" value="Geschichte" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-geschichte">Geschichte</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-geografie"
                                        name="btn-check-geografie" value="Geografie" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-geografie">Geografie</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-kunst" name="btn-check-kunst"
                                        value="Kunst" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-kunst">Kunst</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-literatur"
                                        name="btn-check-literatur" value="Literatur" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-literatur">Literatur</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-musik" name="btn-check-musik"
                                        value="Musik" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-musik">Musik</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-naturwissenschaften"
                                        name="btn-check-naturwissenschaften" value="Naturwissenschaften" checked
                                        autocomplete="off">
                                    <label class="btn mb-1"
                                        for="btn-check-naturwissenschaften">Naturwissenschaften</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-politik"
                                        name="btn-check-politik" value="Politik" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-politik">Politik</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-sport" name="btn-check-sport"
                                        value="Sport" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-sport">Sport</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-technik"
                                        name="btn-check-technik" value="Technik" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-technik">Technik</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-tiere" name="btn-check-tiere"
                                        value="Tiere" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-tiere">Tiere</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-unterhaltung"
                                        name="btn-check-unterhaltung" value="Unterhaltung" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-unterhaltung">Unterhaltung</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-weltkulturen"
                                        name="btn-check-weltkulturen" value="Weltkulturen" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-weltkulturen">Weltkulturen</label>

                                    <input type="checkbox" class="btn-check" id="btn-check-wirtschaft"
                                        name="btn-check-wirtschaft" value="Wirtschaft" checked autocomplete="off">
                                    <label class="btn mb-1" for="btn-check-wirtschaft">Wirtschaft</label>
                                </div>
                            </div>
                            <div class="pt-3 text-end">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Zurück</button>
                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"><i
                                        class="fa-solid fa-wand-magic-sparkles"></i> Generieren</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript zum Hinzufügen und Entfernen von Fragenfeldern
        let questionIndex = 1;

        function updateQuestionNumbering() {
            // Alle verbleibenden Fragen neu nummerieren
            const questionsDiv = document.getElementById("questions");
            const questionDivs = questionsDiv.getElementsByClassName("question");

            Array.from(questionDivs).forEach((questionDiv, index) => {
                // Aktualisiere die ID des Frage-Divs
                questionDiv.id = `question-${index}`;

                //Aktualisiere die Nummerierung der Frage
                const inputQuestion = questionDiv.querySelector('label[name="inputQuestion"]')
                inputQuestion.innerText = `Frage ${index + 1}`;

                // Aktualisiere die Nummerierung und Name-Attribute der Felder
                questionDiv.querySelectorAll(".form-control")[0].setAttribute("name", `questions[${index}][question]`);
                questionDiv.querySelectorAll(".form-control")[1].setAttribute("name", `questions[${index}][description]`);
                questionDiv.querySelectorAll(".form-control")[2].setAttribute("name", `questions[${index}][image]`);
                questionDiv.querySelectorAll(".form-control")[3].setAttribute("name", `questions[${index}][answer]`);
                questionDiv.querySelectorAll(".form-control")[4].setAttribute("name", `questions[${index}][points]`);
                questionDiv.querySelector(".form-select").setAttribute("name", `questions[${index}][category]`);

                // Aktualisiere den "Diese Frage entfernen"-Button
                questionDiv.querySelectorAll("button")[0].setAttribute("onclick", `moveQuestionUp(${index})`);
                questionDiv.querySelectorAll("button")[0].setAttribute("id", `move-up-btn-${index}`);
                questionDiv.querySelectorAll("button")[0].disabled = false;
                questionDiv.querySelectorAll("button")[1].setAttribute("onclick", `moveQuestionDown(${index})`);
                questionDiv.querySelectorAll("button")[1].setAttribute("id", `move-down-btn-${index}`);
                questionDiv.querySelectorAll("button")[1].disabled = false;
                questionDiv.querySelectorAll("button")[2].setAttribute("onclick", `deleteQuestion(${index})`);
                questionDiv.querySelectorAll("button")[2].setAttribute("id", `delete-question-btn-${index}`);
            });

            // Frageindex zurücksetzen, falls erforderlich
            questionIndex = questionDivs.length;

            // Ersten und letzten Verschiebe-Button disablen
            document.getElementById(`move-up-btn-0`).disabled = true;
            document.getElementById(`move-down-btn-${questionIndex - 1}`).disabled = true;

            // Löschen-Button disablen, wenn nur eine Frage existiert
            if (questionIndex == 1) {
                document.getElementById(`delete-question-btn-0`).disabled = true;
            } else {
                document.getElementById(`delete-question-btn-0`).disabled = false;
            }

            updateQuestionCounter();
        }

        function updateQuestionCounter() {
            const questionCounter = document.getElementById("question-counter");
            const questionsDiv = document.getElementById("questions");
            const questionDivs = questionsDiv.getElementsByClassName("question");
            questionCounter.innerText = questionDivs.length;
        }

        function addQuestion() {
            const questionsDiv = document.getElementById("questions");
            const newQuestionDiv = document.createElement("div");
            newQuestionDiv.className = "question";
            newQuestionDiv.setAttribute("id", `question-${questionIndex}`);
            newQuestionDiv.innerHTML = `
                <div class="row justify-content-center with-background" style="padding-top: 12px; margin-top: 12px">
                    <div class="col-2 position-relative">
                        <div class="position-absolute top-0 start-0"><button class="btn btn-primary" id="move-up-btn-${questionIndex}"
                                type="button" style="margin-left: 12px;" onclick="moveQuestionUp(${questionIndex})"><i
                                    class="fa-solid fa-arrow-up"></i></button></div>
                        <div class="position-absolute bottom-0 start-0"><button class="btn btn-primary" id="move-down-btn-${questionIndex}"
                                type="button" style="margin-left: 12px; margin-bottom: 12px;" onclick="moveQuestionDown(${questionIndex})" disabled><i
                                    class="fa-solid fa-arrow-down"></i></button></div>
                    </div>

                    <div class="col-8">

                        <div class="mb-3">
                            <label name="inputQuestion" class="form-label">Frage ${questionIndex + 1}</label>
                            <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][question]"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Kategorie</label>
                            <select class="form-select" name="questions[${questionIndex}][category]" required>
                                <option selected>Allgemeinwissen</option>
                                <option>Essen und Trinken</option>
                                <option>Geschichte</option>
                                <option>Geografie</option>
                                <option>Kunst</option>
                                <option>Literatur</option>
                                <option>Musik</option>
                                <option>Naturwissenschaften</option>
                                <option>Politik</option>
                                <option>Sport</option>
                                <option>Technik</option>
                                <option>Tiere</option>
                                <option>Unterhaltung</option>
                                <option>Weltkulturen</option>
                                <option>Wirtschaft</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Beschreibung</label>
                            <textarea class="form-control" type="text" rows="2"
                                name="questions[${questionIndex}][description]"></textarea>
                        </div>

                        <div class="mb-3">
                                <label class="form-label">Bild</label>
                                <input class="form-control" type="file"
                                    name="questions[${questionIndex}][image]"></input>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Antwort</label>
                            <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][answer]"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Punkte</label>
                            <input class="form-control" type="number" name="questions[${questionIndex}][points]" value="1" min="0"
                                max="5" step="0.5" required></input>
                        </div>

                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-primary" id="delete-question-btn-${questionIndex}" type="button" onclick="deleteQuestion(${questionIndex})"><i
                                class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
                `;
            questionsDiv.appendChild(newQuestionDiv);

            document.getElementById(`move-down-btn-${questionIndex - 1}`).disabled = false;

            questionIndex++;
            updateQuestionCounter();
        }

        function deleteQuestion(qid) {
            // Entferne die Frage
            const question_to_delete = document.getElementById(`question-${qid}`);
            if (question_to_delete) {
                question_to_delete.parentNode.removeChild(question_to_delete);
            }

            updateQuestionNumbering();
        }

        function moveQuestionDown(qid) {
            const questionsDiv = document.getElementById("questions");
            const currentQuestionDiv = document.getElementById(`question-${qid}`);

            if (!currentQuestionDiv) {
                console.error(`Frage mit ID question-${qid} nicht gefunden.`);
                return;
            }

            // Finde das nächste Frage-Div
            const nextQuestionDiv = currentQuestionDiv.nextElementSibling;

            if (!nextQuestionDiv || !nextQuestionDiv.classList.contains("question")) {
                console.warn(`Kein nächstes Frage-Div vorhanden für question-${qid}.`);
                return;
            }

            // Tausche die Position der beiden Divs
            questionsDiv.insertBefore(nextQuestionDiv, currentQuestionDiv);

            // Fragen und Felder neu nummerieren
            updateQuestionNumbering();
        }

        function moveQuestionUp(qid) {
            const questionsDiv = document.getElementById("questions");
            const currentQuestionDiv = document.getElementById(`question-${qid}`);

            if (!currentQuestionDiv) {
                console.error(`Frage mit ID question-${qid} nicht gefunden.`);
                return;
            }

            // Finde das vorhergehende Frage-Div
            const previousQuestionDiv = currentQuestionDiv.previousElementSibling;

            if (!previousQuestionDiv || !previousQuestionDiv.classList.contains("question")) {
                console.warn(`Kein vorhergehendes Frage-Div vorhanden für question-${qid}.`);
                return;
            }

            // Tausche die Position der beiden Divs
            questionsDiv.insertBefore(currentQuestionDiv, previousQuestionDiv);
            // Fragen und Felder neu nummerieren
            updateQuestionNumbering();
        }

        document.getElementById("generateQuestionsForm").addEventListener("submit", async function (event) {
            event.preventDefault(); // Verhindert das Standardverhalten (Seiten-Neuladen)

            // Lade-Animation anzeigen
            document.getElementById("alert_placeholder").innerHTML = `    
                <h6>Fragen werden generiert...</h6>
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                `;

            // Formulardaten sammeln
            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());

            // Spezielle Verarbeitung für die Checkboxen: Array der Kategorien
            const categories = [];
            document.querySelectorAll("input[type=checkbox]:checked").forEach((checkbox) => {
                categories.push(checkbox.value);
            });
            if (categories.length == 0) {
                categories.push("Allgemeinwissen");  // Standardwert, falls keine Kategorie ausgewählt: Allgemeinwissen
            }
            data.categories = categories;

            try {
                // Sende die Daten per POST-Request an das Backend
                const response = await fetch("/generate_questions", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data), // JSON-Daten senden
                });

                // Verarbeite die Antwort des Backends
                const result = await response.json();
                if (response.ok) {
                    const questions = result.questions; // Extrahiere das Array "questions"
                    if (Array.isArray(questions)) {     // Prüfe, ob es tatsächlich ein Array ist
                        questions.forEach((item, index) => {
                            addQuestionDiv(item);       // Arbeite mit jedem Element des Arrays
                        });
                        document.getElementById("alert_placeholder").innerHTML = `
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Yeah!</strong> Das hat geklappt. Die Fragen wurden generiert.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        `; 
                    } else {
                        // Fehler: Zeige die Fehlermeldung
                        document.getElementById("alert_placeholder").innerHTML = `
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Ups!</strong> Leider ist ein Fehler aufgetreten. Bitte versuche es erneut.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        `;  
                    }
                }
            } catch (error) {
                console.error("Fehler beim Senden der Anfrage:", error);
                document.getElementById("alert_placeholder").innerHTML = `
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ups!</strong> Leider ist ein Fehler aufgetreten. Bitte versuche es erneut.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    `; 
            }
        });

        function addQuestionDiv(item) {
            const questionsContainer = document.getElementById("questions");
            const questionDiv = document.createElement("div");
            questionDiv.className = "question";
            questionDiv.id = `question-${questionIndex}`;
            questionDiv.innerHTML = `
            <div class="row justify-content-center with-background" style="padding-top: 12px; margin-top: 12px;">
                <div class="col-2 position-relative">
                    <div class="position-absolute top-0 start-0">
                        <button class="btn btn-primary" id="move-up-btn-${questionIndex}" type="button" style="margin-left: 12px;" onclick="moveQuestionUp(${questionIndex})">
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="position-absolute bottom-0 start-0">
                        <button class="btn btn-primary" id="move-down-btn-${questionIndex}" type="button" style="margin-left: 12px; margin-bottom: 12px;" onclick="moveQuestionDown(${questionIndex})">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                    </div>
                </div>

                <div class="col-8">
                    <div class="mb-3">
                        <label name="inputQuestion" class="form-label">Frage ${questionIndex + 1}</label>
                        <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][question]" required>${item.question_text}</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Kategorie</label>
                        <select class="form-select" name="questions[${questionIndex}][category]" required>
                            <option ${item.category === 'Allgemeinwissen' ? 'selected' : ''}>Allgemeinwissen</option>
                            <option ${item.category === 'Essen und Trinken' ? 'selected' : ''}>Essen und Trinken</option>
                            <option ${item.category === 'Geschichte' ? 'selected' : ''}>Geschichte</option>
                            <option ${item.category === 'Geografie' ? 'selected' : ''}>Geografie</option>
                            <option ${item.category === 'Kunst' ? 'selected' : ''}>Kunst</option>
                            <option ${item.category === 'Literatur' ? 'selected' : ''}>Literatur</option>
                            <option ${item.category === 'Musik' ? 'selected' : ''}>Musik</option>
                            <option ${item.category === 'Naturwissenschaften' ? 'selected' : ''}>Naturwissenschaften</option>
                            <option ${item.category === 'Politik' ? 'selected' : ''}>Politik</option>
                            <option ${item.category === 'Sport' ? 'selected' : ''}>Sport</option>
                            <option ${item.category === 'Technik' ? 'selected' : ''}>Technik</option>
                            <option ${item.category === 'Tiere' ? 'selected' : ''}>Tiere</option>
                            <option ${item.category === 'Unterhaltung' ? 'selected' : ''}>Unterhaltung</option>
                            <option ${item.category === 'Weltkulturen' ? 'selected' : ''}>Weltkulturen</option>
                            <option ${item.category === 'Wirtschaft' ? 'selected' : ''}>Wirtschaft</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Beschreibung</label>
                        <textarea class="form-control" type="text" rows="2"
                            name="questions[${questionIndex}][description]"></textarea>
                    </div>

                    <div class="mb-3">
                            <label class="form-label">Bild</label>
                            <input class="form-control" type="file"
                                name="questions[${questionIndex}][image]"></input>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Antwort</label>
                        <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][answer]" required>${item.answer}</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Punkte</label>
                        <input class="form-control" type="number" name="questions[${questionIndex}][points]" value="1" min="0"
                            max="5" step="0.5" required></input>
                    </div>

                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-primary" id="delete-question-btn-${questionIndex}" type="button" onclick="deleteQuestion(${questionIndex})">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            `;
            questionsContainer.appendChild(questionDiv);

            document.getElementById(`move-down-btn-${questionIndex - 1}`).disabled = false;
            questionIndex++;
            updateQuestionCounter();
            updateQuestionNumbering();
        }

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.addEventListener('hide.bs.modal', function (event) {
                if (document.activeElement) {
                    document.activeElement.blur();
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    {% include 'footer.html' %}
</body>

</html>