<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <h1>Quiz bearbeiten</h1>

    <div class="container text-start">
        <form action="{{ url_for('editquiz', quiz_id=quiz[0]) }}" method="POST" enctype="multipart/form-data">

            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="mb-3">
                        <label for="inputTitle" class="form-label">Quiz-Titel</label>
                        <input class="form-control" type="text" name="title" value="{{ quiz[1] }}" required></input>
                    </div>

                    <!-- Counter-Anzeige für die Anzahl der Fragen -->
                    <div class="text-center">
                        <strong>Anzahl Fragen: <span id="question-counter">{{ quiz[2] }}</span></strong>
                    </div>
                    <br>
                </div>
            </div>

            <div id="questions">
                {% for question in questions %}
                <!-- Bearbeiten der Fragen -->
                <div class="question" id="question-{{ question[1]-1 }}">
                    <div class="row justify-content-center with-background" style="padding-top: 12px;margin-top: 12px;">
                        <div class="col-2"></div>
                        <div class="col-8">

                            <div class="mb-3">
                                <label for="inputQuestion" name="inputQuestion" class="form-label">Frage {{ question[1]
                                    }}</label>
                                <textarea class="form-control" type="text" rows="2"
                                    name="questions[{{ question[1]-1 }}][question]"
                                    required>{{  question[2] }}</textarea>
                            </div>

                            <div class="mb-3">
                                <label for="inputCategory" class="form-label">Kategorie</label>
                                <select class="form-select" name="questions[{{ question[1]-1 }}][category]" required>
                                    <option {{ "selected" if question[3]=="Allgemeinwissen" }}>Allgemeinwissen</option>
                                    <option {{ "selected" if question[3]=="Geschichte" }}>Geschichte</option>
                                    <option {{ "selected" if question[3]=="Geografie" }}>Geografie</option>
                                    <option {{ "selected" if question[3]=="Kunst" }}>Kunst</option>
                                    <option {{ "selected" if question[3]=="Literatur" }}>Literatur</option>
                                    <option {{ "selected" if question[3]=="Musik" }}>Musik</option>
                                    <option {{ "selected" if question[3]=="Naturwissenschaften" }}>Naturwissenschaften
                                    </option>
                                    <option {{ "selected" if question[3]=="Politik" }}>Politik</option>
                                    <option {{ "selected" if question[3]=="Sport" }}>Sport</option>
                                    <option {{ "selected" if question[3]=="Technik" }}>Technik</option>
                                    <option {{ "selected" if question[3]=="Tiere" }}>Tiere</option>
                                    <option {{ "selected" if question[3]=="Unterhaltung" }}>Unterhaltung</option>
                                    <option {{ "selected" if question[3]=="Weltkulturen" }}>Weltkulturen</option>
                                    <option {{ "selected" if question[3]=="Wirtschaft" }}>Wirtschaft</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="inputDescription" class="form-label">Beschreibung</label>
                                <textarea class="form-control" type="text" rows="2"
                                    name="questions[{{ question[1]-1 }}][description]">{{ question[4] }}</textarea>
                            </div>

                            {% if question[5] != None %}
                            <div class="mb-3" id="image-{{ question[1]-1 }}">
                                <input class="form-control" type="text"
                                    name="questions[{{ question[1]-1 }}][image-filename]" value="{{ question[5] }}"
                                    hidden></input>
                                <label class="form-label">Bild</label><br>
                                <img class="img-fluid" style="max-width: 60%;"
                                    src="../static/FileUploads/{{ question[5] }}"></img></p>
                                <button class="btn btn-primary" type="button"
                                    onclick="deleteImage('{{ question[1]-1 }}')"><i class="fa-solid fa-trash"></i> Bild
                                    löschen oder ändern</button>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <input class="form-control" type="text"
                                    name="questions[{{ question[1]-1 }}][image-filename]" value="None" hidden></input>
                                <label for="inputImage" class="form-label">Bild</label>
                                <input class="form-control" type="file"
                                    name="questions[{{ question[1]-1 }}][image]"></input>
                            </div>
                            {% endif %}

                            <div class="mb-3">
                                <label for="inputAnswer" class="form-label">Antwort</label>
                                <textarea class="form-control" type="text" rows="2"
                                    name="questions[{{ question[1]-1 }}][answer]" required>{{ question[6] }}</textarea>
                            </div>

                            <div class="mb-3">
                                <label for="inputPoints" class="form-label">Punkte</label>
                                <input class="form-control" type="number" name="questions[{{ question[1]-1 }}][points]"
                                    value="{{ question[7] }}" min="0" max="5" step="0.5" required></input>
                            </div>


                        </div>
                        <div class="col-2 text-end">
                            <button class="btn btn-primary" type="button"
                                onclick="deleteQuestion('{{ question[1]-1 }}')"><i
                                    class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Button zum Hinzufügen weiterer Fragen -->
            <div class="d-flex col-12 justify-content-center">
                <div class="btn-add" type="button" onclick="addQuestion()">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 18px;">
                <button class="btn btn-success" type="submit">Quiz speichern</button>
            </div>
        </form>
    </div>
    </div>

    <script>
        // JavaScript zum Hinzufügen und Entfernen von Fragenfeldern
        let questionIndex = 1;

        function updateQuestionCounter() {
            const questionCounter = document.getElementById("question-counter");
            const questionsDiv = document.getElementById("questions");
            const questionDivs = questionsDiv.getElementsByClassName("question");
            questionCounter.innerText = questionDivs.length;
        }

        function addQuestion() {
            const questionsDiv = document.getElementById("questions");
            const newQuestionDiv = document.createElement("div");
            newQuestionDiv.className = "question";
            newQuestionDiv.setAttribute("id", `question-${questionIndex}`);
            newQuestionDiv.innerHTML = `
                <div class="row justify-content-center with-background" style="padding-top: 12px; margin-top: 12px">
                    <div class="col-2"></div>
                    <div class="col-8">

                        <div class="mb-3">
                            <label for="inputQuestion" name="inputQuestion" class="form-label">Frage ${questionIndex + 1}</label>
                            <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][question]"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="inputCategory" class="form-label">Kategorie</label>
                            <select class="form-select" name="questions[${questionIndex}][category]" required>
                                <option selected>Allgemeinwissen</option>
                                <option>Geschichte</option>
                                <option>Geografie</option>
                                <option>Kunst</option>
                                <option>Literatur</option>
                                <option>Musik</option>
                                <option>Naturwissenschaften</option>
                                <option>Politik</option>
                                <option>Sport</option>
                                <option>Technik</option>
                                <option>Tiere</option>
                                <option>Unterhaltung</option>
                                <option>Weltkulturen</option>
                                <option>Wirtschaft</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Beschreibung</label>
                            <textarea class="form-control" type="text" rows="2"
                                name="questions[${questionIndex}][description]"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="inputImage" class="form-label">Bild</label>
                            <input class="form-control" type="file"
                                name="questions[${questionIndex}][image]"></input>
                        </div>

                        <div class="mb-3">
                            <label for="inputAnswer" class="form-label">Antwort</label>
                            <textarea class="form-control" type="text" rows="2" name="questions[${questionIndex}][answer]"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="inputPoints" class="form-label">Punkte</label>
                            <input class="form-control" type="number" name="questions[${questionIndex}][points]" value="1" min="0"
                                max="5" step="0.5" required></input>
                        </div>

                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-primary" type="button" onclick="deleteQuestion(${questionIndex})"><i
                                class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
                `;
            questionsDiv.appendChild(newQuestionDiv);
            questionIndex++;
            updateQuestionCounter();
        }

        function deleteQuestion(qid) {
            var question_id = Number(qid);

            // Entferne die Frage
            const question_to_delete = document.getElementById(`question-${question_id}`);
            if (question_to_delete) {
                question_to_delete.parentNode.removeChild(question_to_delete);
            }

            // Alle verbleibenden Fragen neu nummerieren
            const questionsDiv = document.getElementById("questions");
            const questionDivs = questionsDiv.getElementsByClassName("question");

            Array.from(questionDivs).forEach((questionDiv, index) => {

                // Aktualisiere die ID des Frage-Divs
                questionDiv.id = `question-${index}`;

                //Aktualisiere die Nummerierung der Frage
                const inputQuestion = questionDiv.querySelector('label[name="inputQuestion"]')
                inputQuestion.innerText = `Frage ${index + 1}`;

                // Aktualisiere die Nummerierung und Name-Attribute der Felder
                questionDiv.querySelectorAll(".form-control")[0].setAttribute("name", `questions[${index}][question]`);
                questionDiv.querySelectorAll(".form-control")[1].setAttribute("name", `questions[${index}][description]`);
                questionDiv.querySelectorAll(".form-control")[2].setAttribute("name", `questions[${index}][answer]`);
                questionDiv.querySelectorAll(".form-control")[3].setAttribute("name", `questions[${index}][points]`);
                questionDiv.querySelector(".form-select").setAttribute("name", `questions[${index}][category]`);

                // Aktualisiere den "Diese Frage entfernen"-Button
                questionDiv.querySelector("button").setAttribute("onclick", `deleteQuestion(${index})`);
            });

            // Frageindex zurücksetzen, falls erforderlich
            questionIndex = questionDivs.length;
            updateQuestionCounter();
        }

        function deleteImage(qid) {
            var question_id = Number(qid);

            const image_to_delete = document.getElementById(`image-${question_id}`);
            if (image_to_delete) {
                image_to_delete.innerHTML = `
                <div class="mb-3">
                    <label for="inputImage" class="form-label">Bild</label>
                    <input class="form-control" type="file"
                        name="questions[${question_id}][image]"></input>
                </div>
                `
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    {% include 'footer.html' %}
</body>

</html>