<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <div class="container text-center" id="active_session" style="display: block;">
        <h1 style="padding-bottom: 0px;">- {{ quiz[1] }} -</h1>
        <h3>[Host]</h3>
        <h4 id="session_code"></h4>

        <div class="accordion accordion-flush mb-4" id="accordionQuiz">
            {% for question in questions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed d-block text-center" type="button"
                        data-bs-toggle="collapse" data-bs-target="#Q{{ question[1] }}" aria-expanded="false"
                        aria-controls="Q{{ question[1] }}">
                        <strong>Frage {{ question[1] }}</strong>
                    </button>
                </h2>
                <div id="Q{{ question[1] }}" class="accordion-collapse collapse" data-bs-parent="#accordionQuiz">
                    <div class="accordion-body">
                        <p class="fs-5">
                            <button class="btn btn-primary btn-lg"
                                onclick="askQuestion('{{ question[0] }}', '{{ question[1] }}')"><i
                                    class="fa-solid fa-clipboard-question"></i> Diese Frage stellen</button>
                        </p>
                        <div class="row row-cols-md-4 justify-content-center">
                            <div class="col-md-3">
                                <p class="with-border"><span class="fw-bold">Kategorie</span><br>{{ question[3] }}</p>
                            </div>
                            <div class="col-md-3">
                                <p class="with-border"><span class="fw-bold">Punkte</span><span
                                        id="points_Q{{ question[1] }}"><br>{{ question[7] }}</span></p>
                            </div>
                        </div>
                        <p class="fs-5 with-line"><span class="fw-bold fs-5">Frage</span><br>{{
                            question[2]|replace('\n', '<br>')|safe }}</p>
                        {% if question[4] != "" %}
                        <p class="fs-5 with-line"><span class="fw-bold">Beschreibung</span><br>{{
                            question[4]|replace('\n', '<br>')|safe }}</p>
                        {% endif %}
                        {% if question[5] != None %}
                        <p class="fs-5 with-line"><span class="fw-bold fs-5">Bild</span><br>
                            <img class="img-fluid" style="max-width: 60%; margin-top: 12px;"
                                src="../static/FileUploads/{{ question[5] }}"></img>
                        </p>
                        {% endif %}
                        <p class="fs-5 with-line"><span class="fw-bold fs-5">Richtige Antwort</span><br>{{
                            question[6]|replace('\n',
                            '<br>')|safe }}<br><br>
                            <button class="btn btn-primary"
                                onclick="shareAnswer('{{ question[0] }}', '{{ question[1] }}')"><i
                                    class="fa-solid fa-lightbulb"></i> Diese Antwort teilen</button>
                        </p>
                        <div class="fs-5" id="no_answers_Q{{ question[1] }}"><span class="fw-bold fs-5">Antworten der
                                Spieler</span><br>
                            <span>Bisher wurden keine Antworten abgegeben.</span>
                        </div>

                        <div class="fs-5" id="answers_Q{{ question[1] }}" style="display: none;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <button class="btn btn-primary mb-4" type="button" id="update_leaderboard"><i
                class="fa-solid fa-rotate-right"></i>
            Punktestand aktualisieren
        </button>

        <!-- Punktestand -->
        <div class="pb-4 mb-4 with-background" id="leaderboard"
            style="background-color: rgb(149 129 219); color: rgb(37 1 91)">
            <h3 style="padding-bottom: 4px; padding-top: 8px; color: rgb(37 1 91);">Leaderboard</h3>
            <!-- Je Teilnehmer eine Row -->

            <div class="row justify-content-center fs-5 fw-bold pb-2">
                <div class="col-4 col-md-2">
                    Platzierung
                </div>
                <div class="col-4 col-md-3">
                    Spielername
                </div>
                <div class="col-4 col-md-2">
                    Punkte
                </div>
            </div>
        </div>
        <button class="btn btn-primary mb-3" type="button" id="share_leaderboard_btn"><i class="fa-solid fa-trophy"></i>
            Punktestand teilen
        </button><br>
        <button type="button" id="end_session" class="btn btn-outline-danger">Session beenden</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        const socket = io({ autoConnect: false });
        let session_id = null;

        document.addEventListener("DOMContentLoaded", function () {
            socket.connect();
            let quiz_id = Number('{{ quiz[0] }}');
            socket.emit("host_session", quiz_id);
        });

        socket.on("session_created", function (data) {
            const session_code = data.session_code;
            const players_answers = data.players_answers;

            document.getElementById("session_code").innerText = "Aktive Session: " + session_code;
            session_id = session_code;

            // Antworten anzeigen, falls Session neu gestartet wurde
            if (players_answers != null) {
                for (const playername in players_answers) {
                    const answers_of_player = players_answers[playername];

                    answers_of_player.forEach(answer_data => {
                        const question_id = answer_data["question_id"];
                        const answer = answer_data["player_answer"].replace(/\n/g, "<br>");
                        const points = answer_data["question_points"];

                        // Verstecke den Platzhaltertext und zeige die Antworttabelle
                        const noAnswersElement = document.getElementById(`no_answers_Q${question_id}`);
                        const answersElement = document.getElementById(`answers_Q${question_id}`);

                        if (noAnswersElement) noAnswersElement.style.display = "none";
                        if (answersElement) {
                            answersElement.style.display = "block";

                            // Überschrift nur hinzufügen, wenn noch keine vorhanden ist
                            if (answersElement.innerHTML.trim() === "") {
                                answersElement.innerHTML = `
                                    <div class="row row-cols-3" style="margin-bottom: 12px;">
                                        <div class="col-2 fw-bold">Spieler</div>
                                        <div class="col-6 col-md-8 fw-bold">Antworten</div>
                                        <div class="col-4 col-md-2 fw-bold">Wertung</div>
                                    </div>
                                `;
                            }

                            answersElement.innerHTML += `
                                <div class="row row-cols-3 with-border" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                                    <div class="col-2">${playername}</div>
                                    <div class="col-6 col-md-8">${answer}</div>
                                    <div class="col-4 col-md-2" style="padding-left: 8px; padding-right: 8px;">
                                        <div class="input-group input-group-sm">
                                            <input type="radio" class="btn-check" name="options_${question_id}_${playername}" id="correct_${question_id}_${playername}" autocomplete="off">
                                            <label class="btn btn-outline-success rounded-start" for="correct_${question_id}_${playername}" style="border-width: 2px; margin-left: 0px;" onclick="setPoints(true, ${question_id}, '${playername}', ${points})"><i class="fa-solid fa-check"></i></label>
                                            <input type="radio" class="btn-check" name="options_${question_id}_${playername}" id="wrong_${question_id}_${playername}" autocomplete="off">
                                            <label class="btn btn-outline-danger" for="wrong_${question_id}_${playername}" style="border-width: 2px; margin-left: 0px;" onclick="setPoints(false, ${question_id}, '${playername}', ${points})"><i class="fa-solid fa-xmark"></i></label>
                                            <input class="form-control" id="points_${question_id}_${playername}" type="number" value="${points}" min="0" max="5" step="0.5">
                                        </div>
                                    </div>
                                </div>`;
                        }
                    });
                }
            }
        });

        socket.on("new_player", function (session_code, quiz_id, quiz_name, playername, points, place) {
            // In Leaderboard aufnehmen
            document.getElementById(`leaderboard`).innerHTML = document.getElementById(`leaderboard`).innerHTML +
                `
            <div class="row justify-content-center fs-5">
                    <div class="col-4 col-md-2" style="color: rgb(199, 146, 12);">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <div class="col-4 col-md-3">
                        <span name="players">${playername}</span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>${points}</span>
                    </div>
                </div>
            `
        });

        function askQuestion(qui_id, que_id) {
            let quiz_id = Number(qui_id);
            let question_id = Number(que_id);
            socket.emit("ask_question", session_id, quiz_id, question_id);
            document.getElementById(`answers_Q${question_id}`).innerHTML = `
            <div class="row row-cols-3" style="margin-bottom: 12px;">
                <div class="col-2 fw-bold">Spieler</div>
                <div class="col-6 col-md-8 fw-bold">Antworten</div>
                <div class="col-4 col-md-2 fw-bold">Wertung</div>
            </div>
            `;
            document.getElementById(`no_answers_Q${question_id}`).style.display = "block";
            document.getElementById(`answers_Q${question_id}`).style.display = "none";
        }


        function shareAnswer(qui_id, que_id) {
            let quiz_id = Number(qui_id);
            let question_id = Number(que_id);
            socket.emit("share_correct_answer", session_id, quiz_id, question_id);
        }


        socket.on("send_answer", function (question_id, playername, answer) {
            document.getElementById(`no_answers_Q${question_id}`).style.display = "none";
            document.getElementById(`answers_Q${question_id}`).style.display = "block";

            let points = document.getElementById(`points_Q${question_id}`).innerText;
            points = Number(points);

            document.getElementById(`answers_Q${question_id}`).innerHTML += `
            <div class="row row-cols-3 with-border" style="margin-bottom: 8px; padding-left: 0px; padding-right: 0px;">
                <div class="col-2">${playername}</div>
                <div class="col-6 col-md-8">${answer.replace(/\n/g, "<br>")}</div>
                <div class="col-4 col-md-2" style="padding-left: 8px; padding-right: 8px;">
                    <div class="input-group input-group-sm">
                        <input type="radio" class="btn-check" name="options_${question_id}_${playername}" id="correct_${question_id}_${playername}" autocomplete="off">
                        <label class="btn btn-outline-success rounded-start" for="correct_${question_id}_${playername}" style="border-width: 2px; margin-left: 0px;" onclick="setPoints(true, ${question_id}, '${playername}', ${points})"><i class="fa-solid fa-check"></i></label>
                        <input type="radio" class="btn-check" name="options_${question_id}_${playername}" id="wrong_${question_id}_${playername}" autocomplete="off">
                        <label class="btn btn-outline-danger" for="wrong_${question_id}_${playername}" style="border-width: 2px; margin-left: 0px;" onclick="setPoints(false, ${question_id}, '${playername}', ${points})"><i class="fa-solid fa-xmark"></i></label>
                        <input class="form-control" id="points_${question_id}_${playername}" type="number" value="" min="0" max="5" step="0.5" disabled>
                    </div>
                </div>
            </div>`;
        });

        function setPoints(correct, question_id, playername, points) {
            if (correct == true) {
                document.getElementById(`points_${question_id}_${playername}`).disabled = false;
                document.getElementById(`points_${question_id}_${playername}`).value = points;
            } else if (correct == false) {
                document.getElementById(`points_${question_id}_${playername}`).value = 0;
                document.getElementById(`points_${question_id}_${playername}`).disabled = true;
            }
        }


        document.getElementById("update_leaderboard").addEventListener("click", function () {
            const questionDivs = document.getElementsByClassName("accordion-item");
            const players = document.getElementsByName("players");
            let points = 0;

            Array.from(players).forEach((player, index) => {
                let playername = player.innerText
                Array.from(questionDivs).forEach((questionDiv, i) => {
                    if (document.getElementById(`points_${i + 1}_${playername}`)) {
                        let points_to_add = document.getElementById(`points_${i + 1}_${playername}`).value;
                        points_to_add = Number(points_to_add);
                        const question_id = i + 1;
                        socket.emit("update_points", session_id, playername, question_id, points_to_add);

                        points = points + points_to_add;
                    }
                });
                socket.emit("calculate_points", session_id, playername, points);
                points = 0;
            });

            socket.emit("calculate_leaderboard", session_id);
            // Leaderboard zurücksetzen
            document.getElementById("leaderboard").innerHTML = `
                <h3 style="padding-bottom: 4px; padding-top: 8px; color: rgb(37 1 91);">Leaderboard</h3>
                <div class="row justify-content-center fs-5 fw-bold pb-2">
                    <div class="col-4 col-md-2">
                        Platzierung
                    </div>
                    <div class="col-4 col-md-3">
                        Spielername
                    </div>
                    <div class="col-4 col-md-2">
                        Punkte
                    </div>
                </div>
            `;
        });

        socket.on("update_leaderboard", function (place, playername, points) {
            if (place == 1) {
                document.getElementById("leaderboard").innerHTML = document.getElementById("leaderboard").innerHTML + `
                <div class="row justify-content-center fs-5">
                    <div class="col-4 col-md-2" style="color: rgb(199, 146, 12);">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <div class="col-4 col-md-3">
                        <span name="players">${playername}</span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>${points}</span>
                    </div>
                </div>`
            } else if (place == 2) {
                document.getElementById("leaderboard").innerHTML = document.getElementById("leaderboard").innerHTML + `
                <div class="row justify-content-center fs-5">
                    <div class="col-4 col-md-2" style="color: silver;">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <div class="col-4 col-md-3">
                        <span name="players">${playername}</span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>${points}</span>
                    </div>
                </div>`
            } else if (place == 3) {
                document.getElementById("leaderboard").innerHTML = document.getElementById("leaderboard").innerHTML + `
                <div class="row justify-content-center fs-5">
                    <div class="col-4 col-md-2" style="color: #8b5a43;">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <div class="col-4 col-md-3">
                        <span name="players">${playername}</span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>${points}</span>
                    </div>
                </div>`
            } else {
                document.getElementById("leaderboard").innerHTML = document.getElementById("leaderboard").innerHTML + `
                <div class="row justify-content-center fs-5">
                    <div class="col-4 col-md-2 fw-bold">
                        <span>${place}.</span>
                    </div>
                    <div class="col-4 col-md-3">
                        <span name="players">${playername}</span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>${points}</span>
                    </div>
                </div>
            `
            }
        });

        document.getElementById("share_leaderboard_btn").addEventListener("click", function () {
            socket.emit("share_leaderboard", session_id);
        });

        document.getElementById("end_session").addEventListener("click", function () {
            confirm('Bist du sicher, dass du dieses Quiz beenden möchtest?');
            socket.emit("end_session", session_id);
        });

        socket.on("session_ended", (redirect_url) => {
            socket.disconnect();
            window.location.href = redirect_url; // Leite zur Quiz-Seite weiter
        });

    </script>



    {% include 'footer.html' %}
</body>

</html>