<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy - Startseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Willkommen bei Quizzy!</h1>
    <p>Teste dein Wissen mit einem Pub-Quiz.</p>
    <nav>
        <a href="{{ url_for('quizoverview') }}">Quiz Übersicht</a>
        <a href="{{ url_for('createquiz') }}">Neues Quiz erstellen</a>
    </nav>
</body>
</html>
