<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/" style="color: aliceblue;">QuizMeister!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-index"
            aria-controls="navbar-index" aria-expanded="false" aria-label="Toggle navigation"
            style="color: aliceblue;">
            <span class="" role="button">
                <i class="fa-solid fa-bars" style="color: aliceblue; font-size:24px;"></i>
            </span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-index">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('playquiz') }}"
                        style="color: aliceblue;">An Quiz teilnehmen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('createquiz') }}"
                        style="color: aliceblue;">Quiz erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('quizoverview') }}"
                        style="color: aliceblue;">Quiz anzeigen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}"
                        style="color: aliceblue;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>