<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy - {{ quiz['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ quiz['title'] }}</h1>
        {% for question in questions %}
            <h2>Frage {{ question[0] }}</h2>
            <p>Kategorie: {{ question[3] }}</p>
            <p>Frage: {{ question[2] }}</p>
            {% if question[4] != "" %}
                <p>Beschreibung: {{ question[4] }}</p>
            {% endif %}
            <p>Antwort: {{ question[5] }}</p>
            <p>Punkte: {{ question[6] }}</p><br>
        {% endfor %}

</body>
</html>