<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <h1>Quiz-Session</h1>

    <div class="container text-center" id="join-session">
        <h2>Einer Session beitreten</h2>
        <input type="text" id="playername" placeholder="Dein Name" required>
        <button id="join-btn">Beitreten</button>
    </div>

    <div class="container text-center" id="active-session" style="display: none;">
        <h2>Hier wird das laufende Quiz angezeigt</h2>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

    <script>
        const socket = io({autoConnect: false});

        document.getElementById("join-btn").addEventListener("click", function() {
            let playername = document.getElementById("playername").value;
            socket.connect();
            socket.on("connect", function() {
                socket.emit("player_join", playername)
            })

            document.getElementById("active-session").style.display = "block";
            document.getElementById("join-session").style.display = "none";
        })
        
    </script>

{% include 'footer.html' %}
</body>

</html>