<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy - Neues Quiz erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Übersicht über alle erstellten Quizzes</h1>
    <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ url_for('quiz', quiz_id=quiz['id']) }}">{{ quiz['title'] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>